<template name="groups">
  <div class="container">
     <div class="row">
        <div class="col-sm-6 col-sm-offset-3 basic-grey">
        <h1>Sessions you created (as game master)
          <span>Edit one session by clicking on it (to invite characters). You can delete it, or view one session.</span>
        </h1>
        <div id="groups">{{#each groupsList}}
          <div class="group {{#if isSelected}}selected{{/if}}">
            <div class="destroy"></div>
            <div class="go"></div>
            <div class="display">
              <a class="group-name {{name_class}}" href="/{{_id}}">
              {{name}}
            </a>
            </div>
          </div>{{/each}}</div>{{#if selected_name}}
        <div class="details">
          <div class="name">
            <h3>{{selected_name}}</h3>
          </div>
          <div id="invite">Invite a character to join the session : {{> charactersearch}}</div>
        </div>{{else}}
        <div class="none">Click a player to select</div>{{/if}}
        <div id="creategroup">Create a new session :
          <input type="text" id="new-group" placeholder="New session name"
          />
        </div>
      </div>
    </div>
  </div>
</template>