<template name="home">
  <section class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Rolebook
              <!--<img src="img/home/titre.png" width="50px">-->
            </h1>
            <p class="intro-text">A free, social network for roleplaying game.</p>
            <div class="page-scroll">
              <a href="#about" class="btn btn-circle">
                 <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Create</h2>
        <p>Create your character. you can have as many characters as you want</p>
        <p>Customize it with statistics, description, etc...</p>
        <p>Share it with your friends</p>
        <div class="page-scroll">
          <a href="#about2" class="btn btn-circle">
                 <i class="fa fa-angle-double-down animated"></i>
              </a>
        </div>
      </div>
    </div>
  </section>
  
  <section id="about2" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Play</h2>
        <p>Join a game session with your character</p>
        <p>Play "pen and paper" role playing game, online</p>
        <p>Master the game as a "game master"</p>
        <div class="page-scroll">
          <a href="#about3" class="btn btn-circle">
                 <i class="fa fa-angle-double-down animated"></i>
              </a>
        </div>
      </div>
    </div>
  </section>
  
  <section id="about3" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Join</h2>
        <p>Subscribe now</p>
        <p>It's free, and always will be !</p>
        <p>
          <a href="/sign-in" class="btn btn-default btn-lg">Sign up</a>
        </p>
      </div>
    </div>
  </section>
</template>