<template name="about">
  <div class="container basic-grey">
    <h1>About RoleBook...
      <span>Questions and answers about Rolebook</span>
    </h1>
    <span><i class="fa fa-question-circle"></i> What is Rolebook ?</span><br />
    <span>
    <i class="fa fa-check"></i> Rolebook is a website, offering a social network for "pen and paper" Role Playing Games
    </span><br />
    <span><i class="fa fa-question-circle"></i> Why a beta version  ?</span><br />
    <span>
    <i class="fa fa-check"></i> Rolebook is in beta version to report bugs and add new functionalities. All the contents you add will perhaps be deleted at the end of beta version.
    </span><br />
  </div>
</template>