#characters .character {
    padding: 3px 6px;
}

#characters .selected {
    padding: 2px 6px;
    background: #9be;
}

#characters .character-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
#createCharacter {
    padding: 3px 6px;
    margin-top: 5px;
}

#createCharacter input {
    width: 180px;
}

#characters .character {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}
#characters .character .display {
    margin-left: 75px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}
#characters .character .destroy {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}
#characters .character .avatardisplay {
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 7px;
    height: 20px;
    width: 20px;
}
#characters .character .avatardisplay img {
  max-height: 45px;
  max-width: 45px;
  padding-left: 10px;
}
#characters .character:hover .destroy {
    background: url('/img/destroy.png') no-repeat 0 0;
}
#characters .character .destroy:hover, #characters .character .go:hover{
    background-position: 0 -20px;
}