.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px 10px 0px 0px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-default {
background-color: #ffffff;
border-color: #e7e7e7;
}
a {
color: #31579d;
text-decoration: none;
}
.navbar-static-top {
border-color: #e7e7e7;
}
.bs-docs-footer {
padding-top: 40px;
padding-bottom: 40px;
margin-top: 100px;
color: #777;
text-align: center;
border-top: 1px solid #e5e5e5;
}