<template name="character">
  <div class="container">
    <h2>{{name}}</h2>
     {{> avatarcharacter}}
    <div id="chardesc">
      {{#if editable}}
      Edit character
        <input type="text" id="new-description" placeholder="Description..."
        value="{{description}}" />
      {{else}}
        {{description}}
      {{/if}}
      {{#each character_attributes}} 
       {{> character_attributes_tpl}} 
      {{/each}}
       {{#if editable}}
        <input
        type="text" id="new-character-attribute" placeholder="New character attribute name..." />
      {{/if}}
    </div>
     {{#if editable}}
      <div class="group">
        <h2>Your session</h2>{{#if your_group_name}} Name : {{your_group_name}}
        <a class="view-group"
        href="/group/{{your_group_name}}"> View session discussion </a>
        <a class="leave-group" href="/{{_id}}"> Leave session</a>
        <div class="characters-group">Characters : 
        {{#each characters_group}}
          <li>{{name}}</li>
        {{/each}}
         </div>
        {{else}}
        No session 
        {{/if}}
      </div>
      
      <div id="invitations">
        <h2>Invitations to sessions :</h2>
        <div class="groups_invit">{{#each invited_group}} {{> invited_group_tpl}} {{/each}}</div>
      </div>
    {{/if}}
    {{> characterposts}}
    </div>
</template>
<template name="invited_group_tpl">
  <div class="group_invit">
    <li>{{name}}
      <a class="accept-group" href="/{{_id}}">>Accept</a>
      <a class="declined-group" href="/{{_id}}">>declined</a>
    </li>
  </div>
</template>
<template name="character_attributes_tpl">
  <div class="character_attribute">
    <li>{{name}}
     {{#if editable}}
        <input type="text" id="new-character-attribute-value" placeholder="New value..."
        value="{{value}}" />
      {{else}}
        : {{value}}
      {{/if}}
    </li>
  </div>
</template>
<template name="avatarcharacter">
  {{#each avatarFile}} 
    <img src="{{this.url}}" alt="" id={{this._id}}>
    {{#unless this.isUploaded}}
     {{> FS.UploadProgressBar bootstrap=true}}
    {{/unless}}
    {{#if editable}}
      {{#if this.isUploaded}}
        <input type="file" class="avatarInput" id="{{this._id}}"/>
      {{/if}}
      Delete {{this.name}}: {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
    {{/if}}
  {{/each}}
  {{#if editable}}
    {{#unless avatarFile.count}}
      <input type="file" class="avatarInput"/>
    {{/unless}}
  {{/if}}
</template>