<template name="character">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 basic-grey">
        <h1>{{name}}</h1>
        {{> avatarcharacter}}
        <label><span>Character description</span>
        {{#if editable}}
         <textarea rows="4" cols="50" type="text" id="new-description" placeholder="Description...">{{description}}</textarea>
        {{else}}
           <div class="attribute-readonly">{{description}}</div>
        {{/if}}
        </label>
        <label><span>Rules</span>
       {{#if chooserule}}
          <SELECT class="rules_select" name="rules" size="1">
            <OPTION value="none">No specific rule set / system</OPTION>
          {{#each listrules}} 
            <OPTION>{{title}}</OPTION>
          {{/each}}
          </SELECT>
        {{else}}
          <div class="attribute-readonly">{{rules_name}} &nbsp;</div>
        {{/if}}
      </label>
        {{#each character_attributes}} 
         {{> character_attributes_tpl}} 
        {{/each}}
        {{#if editable}}
          <input
          type="text" id="new-character-attribute" placeholder="New character attribute name..." />
        {{/if}}
      </div>
    </div>
  {{#if editable}}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 basic-grey">
        <div class="group">
          <h1>Your session</h1>{{#if your_group_name}} Session name : {{your_group_name}}
          <p>
            <input type="button" class="button view-group" value="View session" />
            <input type="button" class="button leave-group"  id="leave{{_id}}" value="Leave session" />
          </p>
          <div class="characters-group">Characters in this session : 
          {{#each characters_group}}
            <li><a href="/character/{{name}}">{{name}}</a></li>
          {{/each}}
           </div>
          {{else}}
          No session 
          {{/if}}
        </div>
        <div id="invitations">
          <span>Invitations to sessions :</span>
          <div class="groups_invit">
            {{#each invited_group}} 
             {{> invited_group_tpl}} 
            {{/each}}
            {{#unless invited_group}} 
              no invitation
            {{/unless}}
          </div>
        </div>
     </div>
    </div>
  {{/if}}
  {{> characterposts}}
 </div>
</template>
<template name="invited_group_tpl">
  <div class="group_invit">
    <li>{{name}}
      <a class="accept-group" href="/{{_id}}">>Accept</a>
      <a class="declined-group" href="/{{_id}}">>declined</a>
    </li>
  </div>
</template>
<template name="character_attributes_tpl">
  <label><span>{{name}}</span>
   {{#if editable}}
      <input type="text" id="new-character-attribute-value" placeholder="New value..."
      value="{{value}}" />
    {{else}}
      <div class="attribute-readonly">{{value}} &nbsp;</div>
    {{/if}}
  </label>
</template>

<template name="avatarcharacter">
  {{#with avatarFile}}
    {{#unless this.isUploaded}} 
      <i class="fa fa-refresh fa-spin"></i>
    {{/unless}} 
    {{#if this.isUploaded}}
      <div class="centeravatar">
        <div class="avatarimg">
          <img class="avatarimg" src="{{this.url}}" alt="" id={{this._id}}>
        </div>
      </div>
      {{#if editable}}
        <div class="upload">
          <div class="title">Choose an image to upload</div>
          <input type="file" class="upload avatarInput"
          id="{{this._id}}" />
        </div>
        <label><span>Image avatar :</span> 
        {{> FS.DeleteButton class="btn btn-danger"}} 
        </label>
      {{/if}} 
    {{/if}} 
  {{/with}} 
  {{#unless avatarFile}}
  <div class="centeravatar">
    <div class="avatarimg avatarimgcenter">
      <img class="avatarimg" src="/img/character/blanck_avatar.png" alt="" id={{this._id}}>
    </div>
  </div>
  {{#if editable}}
    <div class="upload">
      <div class="title">Choose an image to upload</div>
      <input type="file" class="upload avatarInput" />
     </div>
   {{/if}} 
  {{/unless}}
</template>