<template name="header">
  <nav class="navbar navbar-fixed-top {{navbarCustomHome}}" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="img/titre_small_beta.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
         {{#if currentUser}}
            <li class="{{activePage 'accountsettings'}}"><a href="{{pathFor 'accountsettings'}}">Account settings</a></li>
            <li class="{{activePage 'characters'}}"><a href="{{pathFor 'characters'}}">Your characters</a></li>
            <li class="{{activePage 'groups'}}"><a href="{{pathFor 'groups'}}">Game sessions</a></li>
          {{/if}}
            <li class="{{activePage 'about'}}"><a href="{{pathFor 'about'}}">About</a></li>
            <li class="{{activePage 'blog'}}"><a href="{{pathFor 'blog'}}">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{> entryAccountButtons_custom}}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
       <!-- /.container-fluid -->
  </nav>
</template>
<template name="entryAccountButtons_custom">
  {{#if currentUser}}
    <li class="navbar-text">{{signedInAs}}</li>
    <li><a href="/sign-out">{{t9n "signOut"}}</a></li>
  {{else}}
      <li class="{{activePage 'entrySignIn'}}"><a href="/sign-in">{{t9n "signIn"}}</a></li>
    {{#if showCreateAccountLink}}
        <li><a href="{{entrySignUp}}">{{t9n "signUp"}}</a></li>
    {{/if}}
  {{/if}}
</template>