<template name="header">
  <nav class="navbar navbar-fixed-top {{navbarCustomHome}}" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="img/titre_small.png"></a>
          <div class="betabanner"></div>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
         {{#if currentUser}}
            <li class="{{activePage 'accountsettings'}}"><a href="{{pathFor 'accountsettings'}}" data-toggle="collapse" data-target="#bs-navbar-collapse-1">Account settings</a></li>
            <li class="{{activePage 'characters'}}"><a href="{{pathFor 'characters'}}" data-toggle="collapse" data-target="#bs-navbar-collapse-1">Your characters</a></li>
            <li class="{{activePage 'groups'}}"><a href="{{pathFor 'groups'}}" data-toggle="collapse" data-target="#bs-navbar-collapse-1">Game sessions</a></li>
          {{/if}}
            <li class="{{activePage 'about'}}"><a href="{{pathFor 'about'}}" data-toggle="collapse" data-target="#bs-navbar-collapse-1">About</a></li>
            <li class="{{activePage 'blog'}}"><a href="{{pathFor 'blog'}}" data-toggle="collapse" data-target="#bs-navbar-collapse-1">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{> entryAccountButtons_custom}}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
       <!-- /.container-fluid -->
  </nav>
</template>
<template name="entryAccountButtons_custom">
  {{#if currentUser}}
   <li class="navbar-img">
      {{#each avatarFile}} 
        <a class="navbar-img" href="{{pathFor 'accountsettings'}}"><img src="{{this.url}}" alt="" class="avataruser"></a>
      {{/each}}
    </li>
    <li class="navbar-text">{{signedInAs}}</li>
    <li><a href="/sign-out" data-toggle="collapse" data-target="#bs-navbar-collapse-1">{{t9n "signOut"}}</a></li>
  {{else}}
      <li class="{{activePage 'entrySignIn'}}"><a href="/sign-in" data-toggle="collapse" data-target="#bs-navbar-collapse-1">{{t9n "signIn"}}</a></li>
    {{#if showCreateAccountLink}}
        <li class="{{activePage 'entrySignUp'}}"><a href="/sign-up" data-toggle="collapse" data-target="#bs-navbar-collapse-1">{{t9n "signUp"}}</a></li>
    {{/if}}
  {{/if}}
</template>