<template name="accountsettings">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 basic-grey">
        <h1>Your Account settings
          <span>You can update your profile here</span>
        </h1>
        <label>
          <span>Avatar :</span>
          {{> avataraccount}}
        </label>
        <label>
          <span>Firstname :</span>
          <input type="text" id="firstname" value="{{profile.firstname}}" />
        </label>
        <label>
          <span>Lastname :</span>
          <input type="text" id="lastname" value="{{profile.lastname}}" />
        </label>
        <label>
          <span>Email :</span>
          <input type="text" id="email" value="{{address}}" readonly />
        </label>
        <label>
          <span class="full">Change Password :</span>&nbsp;
        </label>
        <label>
          <span>Old password :</span>
          <input type="password" id="oldpassword" />
        </label>
        <label>
         <span>New Password :</span>
          <input type="password" id="newpassword" />
        </label>
        <label>
          <span class="full"><input type="button" class="btn btn-danger" value="Update" /></span>
          &nbsp;
        </label>
      </div>
    </div>      
  </div>
</template>
<template name="avataraccount">
  {{#with avatarFile}}
    {{#unless this.isUploaded}} 
      <i class="fa fa-refresh fa-spin"></i>
    {{/unless}} 
    {{#if this.isUploaded}}
      <div class="centeravatar">
        <div class="avatarimg">
          <img class="avatarimg" src="{{this.url}}" alt="" id={{this._id}}>
        </div>
      </div>
      <div class="upload">
        <div class="title">Choose an image to upload</div>
        <input type="file" class="upload avatarInput"
        id="{{this._id}}" />
      </div>
      <span>Image avatar :</span> 
      {{> FS.DeleteButton class="btn btn-danger"}} 
    {{/if}} 
  {{/with}} 
  {{#unless avatarFile}}
  <div class="avatarimg">
    <img class="avatarimg" src="/img/character/blanck_avatar.png" alt="" id={{this._id}}>
  </div>
  <div class="upload">
    <div class="title">Choose an image to upload</div>
    <input type="file" class="upload avatarInput" />
   </div>
  {{/unless}}
</template>